---
layout: default
---
<div class="home">
    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <h2>
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h2>
            <div class="post-meta">
                {{ post.date | date: "%B %d, %Y" }}
            </div>
            {% if post.description %}
            <div class="post-description">
                {{ post.description }}
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
